################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Labs/ApplyDeltaDemo/.vs/ApplyDeltaDemo/v15
/Labs/ApplyDeltaDemo/ApplyDeltaDemo/obj/Debug
/Labs/ApplyDeltaDemo/ApplyDeltaDemo/bin/Debug
