################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Labs/ApplyDeltaDemo/.vs/ApplyDeltaDemo/v15
